
.table-mid{
    overflow-y: auto;
    max-height: 400px;
}


.asideLeft {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgz2RaFlc5xMOy1SC7rJkfQ1Pi4nYCWADP7g&s');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.asideLeft::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}

.asideLeft > * {
    position: relative;
    z-index: 2;
}